<!DOCTYPE html>
<html  lang="en" >
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name = "CBB" content = "Blood Types">
    <title>Blood Types</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/bloodTypes.js"></script>
	<link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico'/>
  </head>
  <body class = "mainContainer" >
  <div class = "headerContainer"><img src= "images/header.png" width = "100%" height= "100%" Alt="Header Image"></div>
  <div style="width: 100%; height: 42px;background-color: #663D70; background-color: black;display: inline-block;font-size: 0;border-style: ridge;
						border-color: gray;border-right: 0;border-left: 0;">
  <div class ="navbar"> 
	<ul>
	<li><a href= "index.html">Home</a><font color = "white"><b>|</b> 
	<li><a href= "Why Give Blood.html">Why Give Blood</a><b>|</b> 
	<li><a href= "Who Can Give Blood.html">Who Can Give Blood</a><b>|</b> 
	<li><a href= "Donation Process.html">Donation Process</a><b>|</b> 
	<li><a href= "Blood Types.html"><selected>Blood Types</a><b>|</b> 
	<li><a href= "ContactUs.html">Contact Us</a></font>
	</ul>
  </div>
	</div>
  <br><br>
  <div ng-app="bloodTypes" class="list-group" ng-controller="TypesController">
  <div class="container">
    <header>
      <center><div class ="termsOfUse"><strong>Blood Types</strong></div>
    </header>
	<br>
    <form>
    <div class="form-control">
   <label for="theTypess" class="col-sm-1 control-label">Type</label>
	<div class="col-sm-3">
      <input type ="text"  ng-model = 'theTypes' autofocus>
    </div>
    </div>
   </form>
    <div class="list-group-item" ng-repeat="type in types | filter: theTypes" >
      <h3>{{type.name}}</h3>
	   <ul class="list-inline thumbs">
	      <li><img src={{type.image}} width="20%"></li>
	   </ul>
	 
      <section ng-controller="TabController">
	  <ul class="nav nav-tabs">
	  <li ng-class="{active:isSet(1)}"> <a href ng-click="setTab(1)">Description</a> </li>
	  <li ng-class="{active:isSet(2)}"> <a href ng-click="setTab(2)">Donation Compatibility</a> </li>
	  <li ng-class="{active:isSet(3)}"> <a href ng-click="setTab(3)">Blood Type Diet</a> </li>
	  <li ng-class="{active:isSet(4)}"> <a href ng-click="setTab(4)">Personality</a> </li>
	  </ul>

        <div ng-show="isSet(1)">
          <h4>Description</h4>
          <blockquote> {{type.description}}</blockquote>
        </div>
		
        <div ng-show="isSet(2)">
          <h4>Donation Compatibility</h4>
          <blockquote>{{type.donationCompatibility}}</blockquote>
        </div>

        <div ng-show="isSet(3)">
          <h4>Blood Type Diet</h4>
           <blockquote> {{type.bloodTypeDiet}}</blockquote>
		</div>
		
		<div ng-show="isSet(4)">
          <h4>Personality</h4>
           <blockquote> {{type.personality}}</blockquote>
		</div>
		
    </div>
  </section>
    </div>
    </div>
    <div class = "break"></div>
<div class = "footerContainer">
<div class = "footerBar">
<ul>
<li><a href= "Sitemap.html">Sitemap</a>
<li><a href= "Links.html">Links</a>
<li><a href= "TermsOfUse.html">Terms of Use</font></a>
<li class = "footerIcons"><a href= "https://www.facebook.com/yahya.almardeny"><img src = "images/FacebookIcon.png" width = "33px"  Alt="FacebookIcon"></a><a href= "https://twitter.com/Yahya05sy"><img src = "images/TwitterIcon.png" width = "33px"  Alt="TwitterIcon"></a></li>
</ul>
    
</div>
</div>
  </body>
</html>
